header {
  overflow: hidden;
  background-color: #dcdcdc;
  margin-bottom: 10px;
}
.product-item {
  float: left;
  margin-left: 30px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin: 0 auto;
  }
  button {
    width: 77px;
    height: 50px;
    float: initial;
    cursor: pointer;
    margin-bottom: 2px;
    border-radius: 5px;
  }
}
.product-item:hover {
  box-shadow: 4px 2px 5px 2px grey;
  border-radius: 5px;
}
.btn-cart {
  float: right;
  margin-right: 70px;
  width: 80px;
  height: 80px;
  border-radius: 2px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
.btn-cart:hover {
  border: none;
  cursor: pointer;
  background-color: darkgray;
  box-shadow: 1px 1px 2px 2px grey;
}
